* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif
  }

  body{
    background-color: #f3f3f3;
  }

  header{
    background-color: #fff;
    width: 100%;
    height: 100px;
  }

  header .header-branch{
   font-family: sans-serif;
   font-size: 24px;
   font-weight: 900;
   color: #111;
   text-transform: uppercase;
   display: block;
   margin: auto;
   text-align: center;
   padding: 20px 0;
  }

  header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  header nav ul{
    margin: 0 auto;
  }

  header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 16px;
    text-align: center;

  }

  header nav ul li a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111;
  }

  header nav  .header-cases{
    display: none;
  }

  /* index-banner */

  .index-banner{
    width: 100%; 
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/img/banner.jpg);
    display: table;
  }

  .banner-text-cont{
    display: table-cell;
    vertical-align: middle;
  }

  .index-banner h1{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    line-height: 70px;
    text-shadow: 2px 2px 8px #111;
    text-align: center;
  }


  .index-banner h2{
    font-family: 'Lucida';
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    line-height: 34px;
    text-shadow: 2px 2px 8px #111111;
    text-align: center;
  }
